{
  "comments": false,
  "presets": [
    ["env", {
      "loose": true,
      "targets": {
        "node": 6
      },
      "exclude": [
        "transform-regenerator"
      ]
    }]
  ],
  "plugins": [
    "syntax-dynamic-import",
    "transform-class-properties",
    "transform-export-extensions",
    "transform-object-rest-spread"
  ]
}
