{
  "plugins": [
    "transform-regenerator",
    ["transform-react-jsx", { "pragma": "h" }],
    ["transform-runtime", {
      "helpers": false,
      "polyfill": false,
      "regenerator": true
    }]
  ]
}
